.pagination-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-buttons .btn {
    background-color: #f1f1f1; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    margin: 0 10px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-buttons .btn:hover {
    background-color: #0056b3; 
}

.pagination-buttons .btn:disabled {
    background-color: #cccccc; 
    cursor: not-allowed; 
}

.carousel-item .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel-item .col-4 {
    flex: 1 0 33.3333%; 
    max-width: 33.3333%;
    padding: 10px;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-4 {
    margin: 25px; 
}

.card-spacing {
    margin: 25px;
}
